@model ImageInfoStandard.Models.ImageInfo
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{    <div class="jumbotron">
        <h1>Image Info</h1>
        <p>Enter the Image Uri</p>
        @Html.TextBoxFor(imageinfo => imageinfo.Path)
        <button type="submit">Get</button>
    </div>
}
<div class="row">
    <div class="col-md-4">
        @if (Model != null)
        {
            if (Model.ErrorMessage == string.Empty)
            {
            <td>
                <tr>Image Type:</tr>
                <tr>@Model.Type</tr>
            </td>
            <div></div>
            <td>
                <tr>Image Height:</tr>
                <tr>@Model.Height</tr>
            </td>
            <div></div>
            <td>
                <tr>Image Width:</tr>
                <tr>@Model.Width</tr>
            </td>
            <div></div>
            <td>
                <tr>Horizontal Resolution:</tr>
                <tr>@Model.HorizontalResolution</tr>
            </td>
            <div></div>
            <td>
                <tr>Vertical Resolution:</tr>
                <tr>@Model.VerticalResolution</tr>
            </td>
            }
        }
    </div>
</div>
