@model ImageInfoStandard.Models.ImageInfo
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{    <div class="jumbotron">
        <h1>Image Info</h1>
        <p>Enter the Image Uri</p>
        @Html.TextBoxFor(imageinfo => imageinfo.Path)
        <button type="submit">Get</button>
    </div>
}
<div class="row">
    <div class="col-md-4">
        @if (Model != null)
        {
            if (string.IsNullOrEmpty(Model.ErrorMessage))
            {
                <table>
                    <tr>
                        <td>Image Type:</td>
                        <td>@Model.Type</td>
                    </tr>
                    <tr>
                        <td>Image Height:</td>
                        <td>@Model.Height</td>
                    </tr>
                    <tr>
                        <td>Image Width:</td>
                        <td>@Model.Width</td>
                    </tr>
                    <tr>
                        <td>Horizontal Resolution:</td>
                        <td>@Model.HorizontalResolution</td>
                    </tr>
                    <tr>
                        <td>Vertical Resolution:</td>
                        <td>@Model.VerticalResolution</td>
                    </tr>
                </table>
            }
            else
            {
                <table>
                    <tr>
                        <td>
                            Invalid Request
                        </td>
                        </tr>
                    </table>
            }
        }
    </div>
</div>
